<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/floatingcard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Floating Card</title>
  </head>
  <body>
    <div class="card">
      <div class="imgBox">
        <img src="../static/image/dfood.jpg" alt="DonorPic" />
        <img src="../static/image/bfood.jpg" alt="DonorPic" />
      </div>
      <div class="details">
        <div class="content">
          <h2>Donor</h2>
          <p>One's who donate food</p>
          <button>Click Here!</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="imgBox">
        <img src="../static/image/dfood.jpg" alt="DonorPic" />
        <img src="../static/image/bfood.jpg" alt="DonorPic" />
      </div>
      <div class="details">
        <div class="content">
          <h2>Donor</h2>
          <p>One's who donate food</p>
          <button>Click Here!</button>
        </div>
      </div>
    </div>
  </body>
</html>
