<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/welcomepage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Welcome Page</title>
  </head>
  <body>
    <section>
      <h2 title="Website Name">Hunger Free</h2>
      <!-- <div class="input-field">
        <label>Please select which type of user?</label>
        <form action="/openform" method="post" name="opennew">
          <select name="sites" id="sites">
            <option value="" selected>Type of User</option>
            <option value="/signupentry">Normal User</option>
            <option value="http://www.gmail.com">Community</option>
          </select>
          <input
            type="button"
            name="Submit"
            value="Go!"
            onClick="window.open(sites.value)"
          />
        </form>
      </div> -->
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-toggle="dropdown"
          title="Please select which type of user you are?!"
        >
          Type of user <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/signupentry">Normal User</a></li>
          <li><a href="/communitysignup">Community User</a></li>
        </ul>
      </div>

      <div class="set">
        <div><img src="../static/image/leaves1.png" alt="Leaf1" /></div>
        <div><img src="../static/image/leaves2.png" alt="Leaf2" /></div>
        <div><img src="../static/image/leaves3.png" alt="Leaf3" /></div>
        <div><img src="../static/image/leaves4.png" alt="Leaf4" /></div>
        <div><img src="../static/image/leaves1.png" alt="Leaf1" /></div>
        <div><img src="../static/image/leaves2.png" alt="Leaf2" /></div>
        <div><img src="../static/image/leaves3.png" alt="Leaf3" /></div>
        <div><img src="../static/image/leaves4.png" alt="Leaf4" /></div>
      </div>
      <div class="set set2">
        <div><img src="../static/image/leaves1.png" alt="Leaf1" /></div>
        <div><img src="../static/image/leaves2.png" alt="Leaf2" /></div>
        <div><img src="../static/image/leaves3.png" alt="Leaf3" /></div>
        <div><img src="../static/image/leaves4.png" alt="Leaf4" /></div>
        <div><img src="../static/image/leaves1.png" alt="Leaf1" /></div>
        <div><img src="../static/image/leaves2.png" alt="Leaf2" /></div>
        <div><img src="../static/image/leaves3.png" alt="Leaf3" /></div>
        <div><img src="../static/image/leaves4.png" alt="Leaf4" /></div>
      </div>
      <div class="set set3">
        <div><img src="../static/image/leaves1.png" alt="Leaf1" /></div>
        <div><img src="../static/image/leaves2.png" alt="Leaf2" /></div>
        <div><img src="../static/image/leaves3.png" alt="Leaf3" /></div>
        <div><img src="../static/image/leaves4.png" alt="Leaf4" /></div>
        <div><img src="../static/image/leaves1.png" alt="Leaf1" /></div>
        <div><img src="../static/image/leaves2.png" alt="Leaf2" /></div>
        <div><img src="../static/image/leaves3.png" alt="Leaf3" /></div>
        <div><img src="../static/image/leaves4.png" alt="Leaf4" /></div>
      </div>
    </section>
  </body>
</html>
